body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:30px;
  width:610px;
  height:180px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:180px;
}
#u1 {
  position:absolute;
  left:2px;
  top:82px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:55px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:233px;
  top:52px;
  width:90px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:140px;
  top:280px;
  width:615px;
  height:105px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:72px;
  top:0px;
  width:89px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:161px;
  top:0px;
  width:98px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:259px;
  top:0px;
  width:102px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:361px;
  top:0px;
  width:105px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:466px;
  top:0px;
  width:144px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:30px;
  width:72px;
  height:35px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:72px;
  top:30px;
  width:89px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:161px;
  top:30px;
  width:98px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:259px;
  top:30px;
  width:102px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:361px;
  top:30px;
  width:105px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:466px;
  top:30px;
  width:144px;
  height:35px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:65px;
  width:72px;
  height:35px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:72px;
  top:65px;
  width:89px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:161px;
  top:65px;
  width:98px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:259px;
  top:65px;
  width:102px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:361px;
  top:65px;
  width:105px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:466px;
  top:65px;
  width:144px;
  height:35px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:170px;
  top:170px;
  width:100px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u43 {
  position:absolute;
  left:437px;
  top:54px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:500px;
  top:52px;
  width:90px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46 {
  position:absolute;
  left:170px;
  top:96px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:233px;
  top:92px;
  width:90px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:437px;
  top:96px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:500px;
  top:92px;
  width:90px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52 {
  position:absolute;
  left:170px;
  top:139px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:233px;
  top:135px;
  width:90px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u55 {
  position:absolute;
  left:348px;
  top:136px;
  width:90px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:333px;
  top:141px;
  width:5px;
  height:15px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:286px;
  top:170px;
  width:100px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u59 {
  position:absolute;
  left:496px;
  top:390px;
  width:33px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u60 {
  position:absolute;
  left:644px;
  top:390px;
  width:33px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u61 {
  position:absolute;
  left:528px;
  top:390px;
  width:23px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:552px;
  top:390px;
  width:23px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u63 {
  position:absolute;
  left:574px;
  top:390px;
  width:23px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u64 {
  position:absolute;
  left:598px;
  top:390px;
  width:23px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u65 {
  position:absolute;
  left:620px;
  top:390px;
  width:23px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u66 {
  position:absolute;
  left:140px;
  top:220px;
  width:610px;
  height:50px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:17px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:170px;
  top:230px;
  width:100px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69 {
  position:absolute;
  left:286px;
  top:230px;
  width:100px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:400px;
  top:230px;
  width:100px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:157px;
  top:287px;
  width:50px;
  height:18px;
}
#u72 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u71_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u73 {
  position:absolute;
  left:157px;
  top:320px;
  width:13px;
  height:16px;
}
#u74 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u75 {
  position:absolute;
  left:157px;
  top:347px;
  width:13px;
  height:16px;
}
#u76 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u77 {
  position:absolute;
  left:514px;
  top:230px;
  width:100px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
