/*top*/
.shoppingCartTop{
	width: 100%;
	height: 78px;
	border-bottom: 2px solid #cc2c27;
}
.shoppingCartTopCon{
	width: 1000px;
	height: 78px;
	margin: 0 auto;
}
.con_left{
	width: 130px;
	height: 64px;
	padding-top: 14px;
	float: left;
}
.con_right{
	width: 306px;
	float: right;
}
.con_right_top{
	text-align: right;
	height: 37px;
}
.con_right_top span{
	line-height: 37px;
	margin-left: 30px;
	font-size: 12px;
	color: #1f1f1f;
	cursor: pointer;
}
.con_right_bottom{
	height: 37px;
}
.con_right_bottom li{
	float: left;
	line-height: 30px;
	padding-top: 7px;
}

.con_right_bottom li img{
	float: left;
	display: block;
	width: 20px;
	height: 20px;
}
.con_right_bottom li span{
	float: left;
	display: block;
	width: 60px;
	height: 20px;
	line-height: 20px;
	text-align: right;
	font-size: 12px;
	color: #1f1f1f;
	cursor: pointer;
}
/*middle*/
.shoppingCartMiddle{
	width: 100%;
}
.shoppingCartMiddleCon{
	width: 1000px;
	margin: 0 auto;
}
/*.MiddleConTitle{
	font-size: 14px;
	color: #8c8c8c;
	height: 42px;
	padding-top: 38px;
}*/
.middleAddress{
	height: 362px;
}
.address_txt1{
	padding-top: 40px;
	height: 50px;
	font-size: 20px;
	color: #333;
}
.address_con{
	height: 161px;
}
.address_con1{
	position: relative;
	padding: 20px 38px 0 16px;
	width: 266px;
	height: 141px;
	background: url(../img/border01.jpg);
	float: left;
}
.address_con_txt1{
	height: 54px;
	font-size: 14px;
	border-bottom: 1px solid #999;
}
.address_con_txt_left{
	float: left;
	width: 198px;
	line-height: 24px;
}
.address_con_txt_right{
	float: left;
	width: 65px;
	line-height: 24px;
}
.address_con_txt2{
	height: 46px;
	line-height: 46px;
	font-size: 14px;
}
.address_con_txt3{
	height: 30px;
}
.address_con_txt3_l{
	font-size: 14px;
	color: #db3e40;
	width: 48px;
	float: left;
	cursor: pointer;
}
.address_con_txt3_r{
	padding-top: 10px;
	height: 20px;
	font-size: 14px;
	width: 70px;
	float: right;
}
.corner{
	position: absolute;
	right: 0;
	bottom: 0;
}
.address_con2{
	float: left;
	width: 232px;
	height: 158px;
	background: url(../img/border02.jpg);
	cursor: pointer;
}
.address_con2 img{
	margin: 46px 0 0 92px;
}
.addressShow{
	height: 48px;
}
.addressShow_l{
	float: left;
	position: relative;
	width: 72px;
	font-size: 12px;
	color: #DB3E40;
	height: 48px;
	line-height: 48px;
	cursor: pointer;
}
.addressShow_l img{
	position: relative;
	left: 0;
	bottom: 44px;
}
.addressShow_r{
	float: right;
	position: relative;
	width: 72px;
	font-size: 12px;
	color: #DB3E40;
	height: 48px;
	line-height: 48px;
	cursor: pointer;
}
.addressShow_r img{
	position: relative;
	left: 0;
	bottom: 44px;
}
.address_txt2{
	height: 66px;
	line-height: 66px;
	font-size: 20px;
	color: #333;
}


.MiddleConTitle{
	height: 40px;
	background: #e9e9e9;
}
.MiddleConTitle p{
	float: left;
	font-size: 14px;
	line-height: 40px;
}
.MiddleConTitle_1{	
	margin: 0 390px 0 47px;
}
.MiddleConTitle_3{
	margin: 0 117px;
}
.MiddleConTitle_5{
	margin-left: 117px;
}
/*.MiddleConTitle_6{
	margin-left: 90px;
}*/
.preferential{
	width: 70px;
	margin-top: 10px;
	margin-right: 107px;
}
.preferential p{
	width: 70px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
}







/*.MiddleConGoods{
	border-bottom: 1px solid #e9e9e9;
}*/
.MiddleConGoods li{
	padding-top: 14px;
	height:95px ;
	border-bottom: 1px solid #e9e9e9;
}
.MiddleConGoods li p,.MiddleConGoods li img,.MiddleConGoods li div{
	float: left;
}
.goodsImage{
	display: block;
	width:60px ;
	height: 75px;
	cursor: pointer;
}
.goods_introduce{
	margin-left: 14px;
	cursor: pointer;
}
.goods_introduce,.goods_price,.count span{
	color: #333;
	font-size: 12px;
}
.goods_price_end{
	font-size: 12px;
	color: #CC2C27;
}
.goods_price{
	margin-left: 128px;
}
.count{
	margin: 0 114px;
}
.count span{
	display: block;
	width: 24px;
	height: 22px;
/*	border: 1px solid #dfdfdf;*/
	float: left;
	text-align: center;
}
.count .add,.count .minus{
	color: #ccc;
	cursor: pointer;
}
.count .numberCode{
	color: #4b4b4b;
}
.delectImg{
	display: block;
	margin-left: 90px;
	cursor: pointer;
}
.goods_price,.count,.goods_price_end,.delectImg{
	margin-top: 16px;
}
.fare{
	padding-top: 12px;
	height: 27px;
	border-bottom: 1px solid #e9e9e9;
}
.fareBtn{
	width: 32px;
	height: 18px;
	margin-left: 30px;
	line-height: 18px;
	text-align: center;
	background: #ff7700;
	color:white;
	border: none;
	border-radius:2px;
	font-size: 12px;
	float: left;
	cursor: pointer;
}
.fareTxt{
	margin-left: 8px;
	line-height: 18px;
	font-size: 12px;
	color: #999;
	float: left;
}
.fareBlank{
	height: 30px;
	border-bottom: 1px solid #e9e9e9;
}
.priceAll{
	padding-top: 24px;
	height: 82px;
}
.priceAllCon{
	width: 970px;
	padding-right: 30px;
}
.priceAllCon li{
	width: 970px;
	float: right;
	
}
.priceAllCon li span{
	text-align: right; 
	display: block;
	width: 88px;
	height: 22px;
	line-height: 22px;
	float: right;
	font-size: 12px;
	color: #999;
}
.payAll{
	height: 38px;
	background: #e9e9e9;
}
.payAllLeft{
	line-height: 38px;
	width: 770px;
	padding-right: 20px;
	color: #333;
	font-size: 14px;
	text-align: right;
	float: left;
	position: relative;
	cursor: pointer;
}
.payAllLeft img{
	position: absolute;
	display: block;
	width: 14px;
	height: 11px;
	right: 96px;
	bottom: 13px;
}
.payAllRight{
	width: 210px;
	height: 38px;
	line-height: 38px;
	background: #cb2c28;
	float: left;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.bottomBlank{
	height: 150px;
}

























