
/*middle*/
.shoppingCartMiddle{
	width: 100%;
}
.shoppingCartMiddleCon{
	width: 1000px;
	margin: 0 auto;
}
.MiddleConTitle{
	font-size: 14px;
	color: #8c8c8c;
	height: 42px;
	padding-top: 38px;
}
/*.MiddleConBlank{
	height: 40px;
	background: #e9e9e9;
}*/
.MiddleConTitle_T{
	height: 40px;
	background: #e9e9e9;
}
.MiddleConTitle_T p{
	float: left;
	font-size: 14px;
	line-height: 40px;
}
.MiddleConTitle_1{	
	margin: 0 390px 0 47px;
}
.MiddleConTitle_3{
	margin: 0 117px;
}
.MiddleConTitle_5{
	margin-left: 117px;
}
/*.MiddleConGoods{
	border-bottom: 1px solid #e9e9e9;
}*/
.MiddleConGoods li{
	padding-top: 14px;
	height:95px ;
	border-bottom: 1px solid #e9e9e9;
}
.MiddleConGoods li p,.MiddleConGoods li img,.MiddleConGoods li div{
	float: left;
}
.goodsImage{
	display: block;
	width:60px ;
	height: 75px;
	cursor: pointer;
}
.goods_introduce{
	margin-left: 14px;
	cursor: pointer;
	width: 230px;
}
.goods_introduce,.goods_price,.count span{
	color: #333;
	font-size: 12px;
}
.goods_price_end{
	font-size: 12px;
	color: #CC2C27;
}
.goods_price{
	margin-left: 128px;
}
.count{
	margin: 0 90px;
}
.count span{
	display: block;
	width: 24px;
	height: 22px;
	border: 1px solid #dfdfdf;
	float: left;
	text-align: center;
}
.count .add,.count .minus{
	color: #ccc;
	cursor: pointer;
}
.count .numberCode{
	color: #4b4b4b;
}
.delectImg{
	display: block;
	margin-left: 122px;
	cursor: pointer;
}
.goods_price,.count,.goods_price_end,.delectImg{
	margin-top: 16px;
}
.fare{
	padding-top: 12px;
	height: 27px;
	border-bottom: 1px solid #e9e9e9;
}
.fareBtn{
	width: 32px;
	height: 18px;
	margin-left: 30px;
	line-height: 18px;
	text-align: center;
	background: #ff7700;
	color:white;
	border: none;
	border-radius:2px;
	font-size: 12px;
	float: left;
	cursor: pointer;
}
.fareTxt{
	margin-left: 8px;
	line-height: 18px;
	font-size: 12px;
	color: #999;
	float: left;
}
.fareBlank{
	height: 30px;
	border-bottom: 1px solid #e9e9e9;
}
.priceAll{
	padding-top: 24px;
	height: 82px;
}
.priceAllCon{
	width: 970px;
	padding-right: 30px;
}
.priceAllCon li{
	width: 970px;
	float: right;
	
}
.priceAllCon li span{
	text-align: right; 
	display: block;
	width: 88px;
	height: 22px;
	line-height: 22px;
	float: right;
	font-size: 12px;
	color: #999;
}
.payAll{
	height: 38px;
	background: #e9e9e9;
}
.payAllLeft{
	line-height: 38px;
	width: 770px;
	padding-right: 20px;
	color: #333;
	font-size: 14px;
	text-align: right;
	float: left;
}
.payAllRight{
	width: 210px;
	height: 38px;
	line-height: 38px;
	background: #cb2c28;
	float: left;
	cursor: pointer;
}
.payAllRight span{
	color: #fff;
	font-size: 14px;
}
.bottomBlank{
	height: 150px;
}

























